* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	/* background: #f3f3f3; */
}

.container {
	width: 1280px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-inline: auto;
	margin-block: 2rem;
	background-color: antiquewhite;
}

.container:nth-child(odd) {
	background-color: aliceblue;
}

.container h1 {
	text-align: center;
}
